<p id="notice"><%= notice %></p>

<p>
  <b>Proj num:</b>
  <%= @project.proj_num %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Location:</b>
  <%= @project.location %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
